<h1>Edit Settings</h1>

<form action='/users/<%=@user.id%>' method='POST' name='signup_form'>
	<input type='hidden' name='_method' value='PUT'>
	<div class="form-group">
  <label for='username'>Username</label>
	<input type='text' placeholder='Username' name='username' value='<%=@user.username%>'><br>
	</div>
	<div class="form-group">
  <label for='email'>E-mail</label>
	<input type='text' placeholder='Email' name='email' value='<%=@user.email%>'><br>
	</div>
	<input class="btn btn-primary" type='submit' value='Edit'>
</form>

<form class="delete account button" action="/users/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="btn btn-primary" type="submit" value="delete your account" class="user-delete"><br><br>
</form>

