<h1>Edit your post</h1>
<form action="/posts/<%= @post.id %>" method="post">
<div class="form-group">
  <input type="hidden" name="_method" value ="put">
  </div>

  <textarea class="lead" name="body"><%= @post.body %></textarea><br>
  <input class="btn btn-primary" type="submit" value="Edit">
</form>
<a href="/posts/<%= @post.id %>">Cancel</a>
