<h2>This tweet was created on: <%= @post.created_at %></h2>


<p><%= @post.body %></p>

<% if @post.user_id == current_user.id %>
  <a href="/posts/<%= @post.id %>/edit">edit</a>
    <form class="post-delete button" action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete post" class="post-delete">
  </form>
  <% end %>




