<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/bootstrap-theme.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="fonts" href="/fonts/glyphicons-halflings-regular.eot"> 
  <link rel="fonts" href="/fonts/glyphicons-halflings-regular.svg">
  <link rel="fonts" href="/fonts/glyphicons-halflings-regular.ttf">
  <link rel="fonts" href="/fonts/glyphicons-halflings-regular.woff">
  <link rel="fonts" href="/fonts/glyphicons-halflings-regular.woff2">

  <link rel="js" href="/js/bootstrap.js">
  <link rel="js" href="/js/bootstrap.min.js">
  <link rel="js" href="/js/npm.js">


  <title></title>
</head>
<body>
<head>
  <h1>Lil Twitter</h1>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
         <ul class="navbar-nav nav">
           <li class = "navbarli"><a href="/">Home</a></li>
           <% if logged_in %>
             <li class = "navbarli">
               <a href="/sessions/<%= current_user.id %>">Logout</a>
             </li>

           <% else %>
             <li class = "navbarli"><a href="/login">Login</a></li>
             <li class = "navbarli"><a href="/users/new">Sign Up</a></li>
           <% end %>
         </ul>
       </div>
    </div>
  </nav>


  <div class="text-center" class="container" >
  <%= yield %>
  </div>
</body>
</html>

