<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/bootstrap-theme.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="fonts" href="/fonts/glyphicons-halflings-regular.eot"> 
  <link rel="fonts" href="/fonts/glyphicons-halflings-regular.svg">
  <link rel="fonts" href="/fonts/glyphicons-halflings-regular.ttf">
  <link rel="fonts" href="/fonts/glyphicons-halflings-regular.woff">
  <link rel="fonts" href="/fonts/glyphicons-halflings-regular.woff2">

  <link rel="js" href="/js/bootstrap.js">
  <link rel="js" href="/js/bootstrap.min.js">
  <link rel="js" href="/js/npm.js">


  <title></title>
</head>
<body>
<head>
  <title>Lil Twitter</title>

 
</head>

<body>
  <header class="header">
    <ul class="main-header">
      <li class="left"><a href="#"><i class="fa fa-stack-exchange"></i>Lil Twitter</a></li>
      <% if logged_in %>
      <li class="right">
        <form action="/sessions/<%= current_user.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="logout" class="session-delete">
        </form>
      </li>
      <% else %>
      <li class="right"><a href="/users/new">sign up</a></li>
      <li class="right"><a href="/login">log in</a></li>
      <% end %>
    </ul>
  </header>
  <div class="container" >
  <%= yield %>
  </div>
</body>
</html>

